body {
    
     
     background-color: #0000ff;
    }
    
    #welcome_header {
    background-color: orange;
    }

#paragraph_one {
color: white;

}

#heading_three {
    color: orange;
   }

#paragraph_four{
	color: white;
}
    
	#bodyy {
   width: 800px;
   margin-left: auto;
   margin-right: auto;
}
   #paragraph_four {
    color: white;
  }
  .background_image {
	   background-image: url('./my_background.jpg'); 
     height: 200vh;
     width: 200vh;
    top: 0;
    left: 0;
    right:0;
  
}
  #heading_four {
    background-color: orange;
    text-align: center;
  }
	      #bodyy {
   width: 800px;
  margin-left: auto;
  margin-right: auto;
   
}
  #basketball {
    float: left;

  }
  .center {
    position: left;
    float: top;
    margin-left:-90px
  }
 #paragraph_final {
    color: white;
  }
